.addressBookTabs{
  :global{
    .ant-tabs-nav-list{
      width: 100%;
      .ant-tabs-tab{
        flex:1;
        justify-content: center;
      }
    }
    .ant-tabs-nav-list::before{
      width:50%;
    }
    .ant-tabs-nav-list::after{
      width:50%;
    }
    .ant-tree{
      background-color: #e5e5e5;
      .ant-tree-treenode{
        width: 100%;
      }
      .ant-tree-treenode:hover{
        background-color: rgba(152, 251, 152, 0.1);
      }
      .ant-tree-treenode-selected{
        background-color: rgba(152, 251, 152, 0.1);
      }
      .ant-tree-node-content-wrapper:hover{
        background-color: transparent;
      }
    }
  }
}
